PORT=5000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/novetta?schema=public

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret

JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

REDIS_HOST=redis
REDIS_PORT=6379

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
SMTP_FROM="Novetta <your-email@gmail.com>"

OTP_DEBUG=true

CORS_ORIGIN=*

NODE_ENV=development
